.LandingPage
    {
        display: block;
        padding: 1em;
    }
.LandingPage .NavBar 
    {
        position: fixed;
        top: 0;
        left: 0;
        height: 8em;
        background-color: white;
        z-index: 1;
        width: 100%;
    }
.LandingPage .Body
{
        position: relative;
        top:0 ;
        height: 45em;
        overflow: auto;
        justify-content: center;
        z-index: 0;
}

.LandingPage .Footer
{
        position: absolute;
        bottom: 0;
        z-index: 1;
        top: 46em;
}
