.LandingPage
    {
        display: block;
        padding: 1em;
    }
.LandingPage .NavBar 
    {
        position: fixed;
        top: 0;
        left: 0;
        height: 8em;
        background-color: white;
        z-index: 1;
        width: 100%;
    }
.LandingPage .Body
{
        position: relative;
        top:0 ;
        height: 400vh;
        overflow: auto;
        justify-content: center;
        z-index: 0;
}

.LandingPage .Footer
{
        position: absolute;
        top:300vh;
        z-index: 1;
}
.HomeBody
{
    position: relative;
    top: 0vh;
    display: flex;
    flex-direction: column;
}
.Profile
{
    position: relative;
    top: 100vh;
    display: flex;
    flex-direction: column;
}
.Education
{
    position: relative;
    top: 160vh;
    display: flex;
    flex-direction: column;
}
.Career
{
    position: relative;
    top: 200vh;
    display: flex;
    flex-direction: column;
}
.Family
{
    position: relative;
    top: 220vh;
    display: flex;
    flex-direction: column;
}