.Mobile-Container
{
    width: 650px;
    margin: 2em;
    height: 10em;
    display: grid;
    grid-template-rows: 2em 5em;
    padding: 1em;
}

.Mobile-Container .Mobile-nav
{
    position: fixed;
    top: -2em;
    left: -2em;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: red;

}