.MobileCareers-container
{
    display: block;
    position: absolute;
    top: 160em;
    z-index: -1;
}
.MobileCareers-container img
{
    width: 20em;
    height: 20em;
    box-shadow: black 0.2em 0.2em 0.2em 0.2em;
    margin: 0.5em;
}
.MobileCareers-container h3
{
    text-align: center;
}
.MobileCareers-container hr
{
    position: relative;
    top: 1.5em;
    margin-bottom: 2em;
}
.MobileCareers-container p
{
    font-size: small;
    font-weight: bold;
    text-align: center;
}
.MobileCareers-container .AccountancyHover a:active
{
    background-image: url(../../images/AccountancyHover.jpg);
    background-position: cover;
}