.Mobile-container
{
    min-width: 320px;
    max-width: 650px;
    overflow: hidden;
}
.TopNavContent
{
    list-style-type: none;
    position: fixed;
    top: -10px;
    height: 90px;
    display: flex;
    width: 90%;
    z-index: 1;
    background-color: white;
}
.Mobile-container li
{
    background-color: white;
}
.Mobile-container img
{
    width: 50px;
    height: 50px;
}
.leftLogo img
{
    position: absolute;
    left: 1em;
}
.rightMenu img
{
    position: absolute;
    right: 1em;
}
#Left-Logo
{
    position: absolute;
    left: -1em;
}
#CenterName
{
    position: absolute;
    left: 3em;
    top: -8%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#Right-Menu
{
    position: absolute;
    right: 0;
}
.SecondNav
{
    width: 100%;
    background-color:rgb(82, 173, 196) ;
    height: 110px;
    position: fixed;
    top: 70px;
    z-index: 1;
}
.SecondNav h2
{
    width: 100px;
    text-align: center;
    border: black solid 1px;
    position: absolute;
    top: -15%;
    left: 10px;
    border-radius: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    box-shadow: black 2px 2px 2px 2px;
    font-size: small;
}
.Posts-media
{
    list-style-type: none;
    display: flex;
    position: absolute;
    left: -2em;
    max-width: 20%;
}
.Posts-media li
{
    display: flex;
    justify-content: left;
    background-color: rgba(255, 255, 255, 0.116);
    border: black solid 1px;
    border-radius: 25px;
    margin-top: 35px;
    width: 2em;
    height: 2em;    
}
.Posts-media li img
{
    width: 2em;
    height: 2em;
    margin: 0;
    position: relative;
}

.MobileHome
{
    position: absolute;
    top: 200px;
    margin:-1em;
    width:100%;
    justify-content: center;
}
.MobileHome figure
{
    display: flex;
    position: relative;
}
.MobileHome img
{
    width: 24em;
    height: 30em;
    border-radius: 20px;
 
}
.MobileHome figcaption
{
    display: block;
    background-color: rgba(0, 0, 0, 0.459);
    bottom: 0;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    font-size:small;
    width: 27.5em;
    text-align: center;

}
.MobileText1
{
    margin: 1em;
    text-align: center;
    background-color: white;
    border-radius: 2em;
    color: black;
    position: absolute;
}
.MobileText2
{
    margin: 1em;
    text-align: center;
    background-color: white;
    border-radius: 2em;
    position: absolute;
}
.MobileText3
{
    margin: 1em;
    text-align: center;
    background-color: white;
    border-radius: 2em;
    position: absolute;
}
.MobileText4
{
    margin: 1em;
    text-align: center;
    background-color: white;
    border-radius: 2em;
    position: absolute;
}
.MobileFooter
{
    width: 100%;
    background-color: rgb(189, 189, 189);
    padding: 10px;
    position: absolute;
    top: 101%;
    display: flex;
}
.MobileFooter li
{
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    padding: 2%;
}
.MobileFooter img
{
    width: 2em;
    height: 2em;
}