.family-container
{
    justify-content: center;
    align-items: center;
    display: block;
    position: relative;
    top: 30vh;
    margin-top: 7em;
}

.family-container .row
{
    display: block;
    width: 100vw;
}
.row h2
{
    text-align: center;
    color: black;
}
.row ul
{
    list-style-type: none;
    display: flex;
    justify-content: left;
}
.row li
{
    border-radius: 20px;
    overflow: hidden;
    width:33vw;
    height: 50vh;
    box-shadow: rgb(53, 104, 117) 5px 5px;
}

video
{
    width: 30vw;
    height: 100%;
    position: relative;
}
hr
{
    width: 30vw;
}