.FooterContainer
{
  display: block;
  justify-content: center;
  text-align: center;
}
.FooterContainer ul{
  display: block;
}
.FooterContainer .footerItems
{
  list-style-type: none;
  background-color: rgb(0, 0, 0);
  display: flex;
  position: absolute;
  height: 12em;
  margin-left: 2em;
  margin-right: 2em;
  min-width: 70em;
  max-width: 120em;
}
.FooterContainer li
{
  display: flex;
  margin: 2em;
  background-color: rgba(255, 255, 255, 0.699);
  width: 3em;
  height: 3em;
  overflow: hidden;
}
.FooterContainer a
{
  text-decoration: none;
}
.FooterContainer img
{
  width: 3em;
  height: 3em;
}
.FooterContainer h2
{
  color: rgb(255, 248, 248);
  position: absolute;
  background-color: white;
  padding-left: 2em;
  padding-right:2em;
  border-radius: 2em;
}
