.project-template
{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 70px 150px 900px 1fr;
  padding: 10px;
}
.project-template .item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    position: fixed;
  }
  
  .project-template .item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  


  .item2 ul{
    display: inline-block;
    list-style-type: none;
    position: fixed;
    right: 5px;
  }
  .item2 li
  {
    display: inline-block;
    padding: 10px;
  }
  .item2 a
  {
    text-decoration: none;
    color: black;
  }


  .project-template .item3 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(82, 173, 196);
    padding: 5px;
  }
  .item3 ul
  {
    position: absolute;
    list-style-type: none;
    display: inline;
    background-color: rgb(63, 60, 60);
    border-radius: 25px;
    width: 80%;
    justify-content: center;
    margin-left: 35px;
    padding: 5px;

  }
  .item3 li
  {
    display: inline-block;
    margin-left: 45px;
    border-radius: 5px;
    background-color: white;
    margin-right: 5px;
    margin-top: 10px;
    }
  .item3 span img 
  {
    width: 30px;
    height: 30px;
  }
  .item3 span{
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .item3 span input
  {
    border: 0;
    margin-left: 10px;
  }
  .SearchInput
  {
    position: absolute;
    right: 10px;
    float: center;
    padding-left: 2px;
  }

  .DrpDown
  {
    width: 10px;
    height: 10px;
  }




  .project-template .item4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .item4 img
  {
    border-radius: 15px;
    margin-left: 3px;
    height: 100%;
    width: 80%;
    margin-top: 10px;
  }
  
  .project-template .item5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .item5 p
  {
    margin-left: 0;
  }
  
  .project-template .item6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .item6 .socials
  {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    border: black solid 1px;
    margin-top: 40px;
  }
  .item6 img{
    width: 40px;
    height: 37px;
  }
  .item6 ul
  {
    list-style-type: none;
  }
  .item6 li{
    display: inline-block;
    padding: 15px;
  }
  .item6 span
  {
    text-align: center;
  }

  .project-template .item7 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .item7 img
  {
    border-radius: 10px;
    width: 300px;
    float: center;
    border: black double 2px;
    margin-top: 40px;
  }
  
  .project-template .item8{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
.item8 img
{
  width: 70px;
  height: 70px;
  margin-top: 110px;
  margin-left: 110px;
}
  