.profileStyle
{
    display: block;
    border-radius: 15px;
    position: absolute;
    top: 240px;
    left: 20px;
    right: 20px;
}
.mainProfileContainer
{
    background-color: grey;
    display: block;
    position:absolute;
    top: 480px;
    left: 5px;
    padding: 10px;

}
.ProfileContainerItems
{
    padding: 20px;
    display: flex;
}
.ProfileContainerItems img
{
    width: 80px;
    height: 90px;
}
.grid1
{
    border: black solid 1px;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    width: 270px;
    height: 320px;    
    box-shadow: black 3px 3px;
    background-color: rgba(121, 91, 34, 0.651);
}
.grid2
{
    width: 270px;
    height: 320px;  
    border: black solid 1px;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    box-shadow: black 3px 3px;
    background-color: rgba(0, 0, 0, 0.445);

}
.grid3
{
    border: black solid 1px;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    box-shadow: black 3px 3px;
    background-color: rgba(20, 87, 50, 0.596);
    width: 270px;
    height: 320px;  
  

}.grid4
{
    border: black solid 1px;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    box-shadow: black 3px 3px;
    background-color: rgba(37, 34, 53, 0.541);
    width: 270px;  
    height: 320px;  

}