.NavGrid
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
    background-color: white;
    z-index: 1;
    position: sticky;
    top: 10vh;
}
.logo
{
    grid-column-start: 1;
    grid-column-end: 1;
    top: 0;
}
.navLinks
{
    grid-column-start: 2;
    grid-column-end: 3;
    top: 0;
    background-color: white;
    z-index: 2;

}

.navLinks ul{
    display: inline-block;
    list-style-type: none;
    position: fixed;
    right: 5vw;
    background-color: white;
    z-index: 1;
 
  }
  li
  {
    display: inline-block;
    padding: 15px;

    border-radius: 10px;
    margin-left: 15px;
    z-index: 1;
  }
  a
  {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: rgb(0, 0, 0);
    padding: 0.5em;
    background-color: rgba(128, 128, 128, 0.192);
    border-radius: 1em;
    border-bottom: red solid 2px;
  }