.LandingPage
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 300px 900px 200px;
        padding: 10px;
    }
.LandingPage .NavBar 
    {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        position: fixed;
    }
.LandingPage .Body
{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
}

.LandingPage .Footer
{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        position: fixed;
}


@media screen and (max-width:650px) {
    #MobileLayout
    {
        margin: auto;
        justify-content: center;
    };
    
}

@media screen and (min-width:650px) {
    #DesktopLayout
    {
        display: block;
        margin: auto;
        justify-content: center;
    };
}

