
@media screen and (max-width:650px) {
    #MobileLayout
    {
        margin: auto;
        justify-content: center;
    };
    
}

@media screen and (min-width:650px) {
    #DesktopLayout
    {
        display: block;
        margin: auto;
        justify-content: center;
    };
}

